absl-py==2.1.0
accessible-pygments==0.0.4
alabaster==0.7.16
annotated-types==0.6.0
ansicon==1.89.0
anyio==4.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
attrs==23.2.0
Automat==22.10.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blessed==1.20.0
blinker==1.7.0
bokeh==3.3.4
cachetools==5.3.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
constantly==23.10.4
contourpy==1.2.0
cryptography==42.0.3
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
deepl==1.17.0
defusedxml==0.7.1
distlib==0.3.8
Django==5.0.2
dm-tree==0.1.8
docopt==0.6.2
docutils==0.20.1
EbookLib==0.18
editor==1.6.6
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.109.2
fastjsonschema==2.19.1
filelock==3.13.1
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.49.0
fqdn==1.5.1
free-proxy==1.1.1
fsspec==2024.2.0
gast==0.5.4
google-auth==2.28.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.60.1
gspread==6.0.2
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
hyperlink==21.0.0
idna==3.6
imagesize==1.4.1
importlib-metadata==7.0.1
incremental==22.10.0
iniconfig==2.0.0
inquirer==3.2.3
ipykernel==6.29.2
ipython==8.21.0
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jinxed==1.2.1
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-book==1.0.0
jupyter-cache==1.0.0
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_templates==0.5.2
keras==3.0.5
kiwisolver==1.4.5
langdetect==1.0.9
latexcodec==2.0.1
libclang==16.0.6
linkify-it-py==2.0.3
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
myst-nb==1.0.0
myst-parser==2.0.0
namex==0.0.7
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.0
notebook_shim==0.2.4
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
pathlib==1.0.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.2.0
pip-upgrade-outdated==1.5
platformdirs==4.2.0
plotly==5.19.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
Protego==0.3.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyass==0.1.4
pybtex==0.24.0
pybtex-docutils==1.0.3
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydata-sphinx-theme==0.15.2
PyDeepLX==1.0.6
PyDispatcher==2.0.7
pydyf==0.8.0
Pygments==2.17.2
pyOpenSSL==24.0.0
pyparsing==3.1.1
pyphen==0.14.0
PySocks==1.7.1
pysubs2==1.6.1
pytest==8.0.1
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==2.0.7
pytz==2024.1
pyuseragents==1.0.5
PyYAML==6.0.1
pyzmq==25.1.2
queuelib==1.6.2
readchar==4.0.5
referencing==0.33.0
requests==2.32.3
requests-file==2.0.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
runs==1.2.2
safeIO==1.2
scikit-learn==1.4.1.post1
scipy==1.12.0
Scrapy==2.11.1
seaborn==0.13.2
selenium==4.18.1
Send2Trash==1.8.2
service-identity==24.1.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-book-theme==1.1.2
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.5.0
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.27
sqlparse==0.4.4
srt==3.5.3
stack-data==0.6.3
starlette==0.36.3
statsmodels==0.14.1
StrEnum==0.4.15
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminado==0.18.0
Theano==1.0.5
threadpoolctl==3.3.0
tinycss2==1.2.1
tldextract==5.1.1
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
translatepy==2.3
trio==0.24.0
trio-websocket==0.11.1
Twisted==23.10.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
tzdata==2024.1
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.1
virtualenv==20.25.1
voila==0.5.5
w3lib==2.1.2
wcwidth==0.2.13
webcolors==1.13
webdriverdownloader==1.1.0.4
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
wsproto==1.2.0
xmod==1.8.1
xyzservices==2023.10.1
youtube-dl==2021.12.17
zipp==3.17.0
zope.interface==6.2
zopfli==0.2.3
